<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <div class="p-2 form-group">
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter, class:"form-control text-muted"%>
  </div>

  <div class="p-2 form-group">
    <%= form.label :body %><br>
    <%= form.text_area :body, class:"form-control text-muted"%>
  </div>

  <div class="p-2 form-group">
    <%= form.label :status %> <br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public', class:"form-control" %>
  </div>

  <div class="p-2 form-group">
    <%= form.submit class:'btn btn-sm btn-success' %>
  </div>

<% end %>
