<div id = "header">
  <h1>Articles</h1>
  <h2>Konbanwa</h2>

  Our blog has <%= Article.public_count %> articles and counting!

</div>

<div id="articles_section">
  <div>
    <ul>
    <% @articles.each do |article| %>
      <li>
        <%= link_to article.name %>
        <%= link_to 'Show', article %>
        <%= link_to 'Edit', edit_article_path(article) %>
        <%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
  </ul>
  </div>

  <div>
    <%= link_to "New Article", new_article_path %>
  </div>
</div>
