<div class="text-center">
    <div class="container">
        <h1><%= @article.name %></h1>

        <p><%= @article.body %></p>

        <p class="btn-group btn-group-sm">
        <%= link_to "Edit", edit_article_path(@article), class:'btn btn-info' %>
        <%= link_to "Delete", article_path(@article), class:'btn btn-danger',
                          method: :delete,
                          data: { confirm: "Are you sure?" } %>
        </p>
    </div>
    <div>
        <h5>Comments</h5>
        <%= render @article.comments %>

        <h5>Add a comment</h5>
        <%= render 'comments/form' %>
    </div>
</div>
